body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.head{
    display: flex;
}
.icon{
    flex: 1;
    margin-top: 73px;
    margin-left: 55px;
}
.nav1 { 
    margin-top: 55px;
    background-color: rgba(242, 241, 247, 0.2);
    padding: 20px 150px 20px 150px;
    color: white;
    font-family:;
}
.line{
    border-bottom: 1px solid rgb(80, 75, 75);
    width: 350px;
    position: relative;
    bottom: 30px;
    left: 20px;
}
.nav1 a{
    padding: 18px;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.nav1 a:hover{
    text-decoration: none;
    color: white;
}
.crew{
    border-bottom: 2px solid white;
}
.hh{
    color: rgb(201, 188, 169);
    margin-top: 50px;
    margin-left: 140px;
}
.flexx{
    display: flex;
}
.left{
    color: aliceblue;
    flex: 1;
    padding: 0px 200px 10px 0px;
    margin-left: 140px;
    font-family: " Bellefair" ,serif;
}
.image{
    flex: 1;
    margin-right: 150px;
    margin-top: 85px;
}
.image img{
   width: 400px;
   height: 400px;
}
.left h4{
    margin-top: 100px;
    font-size: 25px;
}
.left h3{
    font-size: 45px;
    width: 500px;
}
.para{
    font-size: 18px;
    margin-top: 20px;
}
.select a{
    background-color: rgb(56, 56, 56);
    width: 5px;
    height: 3px;
    margin: 10px ;
    padding: 5px;
}
.select{
    margin-top: 50px;
    margin-left: 10px;
}
.select .engineer{
    background-color: rgb(241, 241, 246);
}